<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Base</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="call-to-action.css">

  </head>

<body>

<!-- CALL TO ACTION -->

<section class="call-to-action">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-8">
      	Call to action text here
      </div>
      <div class="col-12 col-sm-3">      	
        <a href="#" class="button">Button</a>
      </div>
    </div>
  </div>
</section>

<!-- END CALL TO ACTION -->

</body>
</html>
